<div class="container">
    <div class="jumbotron">
        <h1>Web Scraper App</h1>
        <form action="/scrape" method="post">
            <button class="get-articles" type="submit">Get Articles</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card" style="width: 400px;">
            <div class="card-body">
                <h5 class="card-title">Articles to Read</h5>
                <ul class="list-group">
                    {{#each articles}}
                    <span>{{_id}} - {{title}} - {{link}}</span>
                    <button value="{{_id}}" type="button" class="btn btn-success note-button"
                        data-toggle="modal">Write a Note</button>
                    <div id="note-modal" class="modal fade show" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Note</h5>
                                    <button type="submit" class="note-update" data-dismiss="modal"></button>
                                        <span>Save Note</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Note:</label>
                                            <textarea class="form-control" id="note-text"></textarea>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
</div>