<div class="container">
    <div class="jumbotron">
        <h1>Web Scraper App</h1>
        <form action="/scrape" method="post">
            <button class="get-articles" type="submit">Get Articles</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card" style="width: 400px;">
            <div class="card-body">
                <h5 class="card-title">Articles to Read</h5>
                <ul class="list-group">
                    {{#each articles}}
                    <span>{{id}} - {{title}} - {{link}}</span><button value={{this.id}} type="submit"
                        class="btn btn-success note-button">Write Note</button>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
</div>